.restos{
    padding: $pad-section;
    background: $cc-secondary-background;
    @include medium{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__title{
            width: 100%;
        }
    }
    @include desktop{
        padding: $pad-section-desktop;
    }
}

.restocard{
    $self: &;
    margin-bottom: $mg-default; 
    display: block;
    border-radius: $br-card;
    @include shadow;   
    &:hover{
        color: $cc-restocard-hover;
        border-color: $cc-restocard-hover;
        box-shadow: 0 0 1rem $cc-restocard-hover;
    }
    &__img{
        @include card-image($br-card $br-card 0 0);
    }

    &__img-container{
        position: relative;
        height: $sz-default-image-height;
        &--new{
            &::after{
                @include new-tag($margin:$pad-box);
            }
        }
    }
    &__body{
        display: flex;
        border-radius: 0 0 $br-card $br-card;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        padding: $pv-box $ph-box;
    }
    &__title{
        @extend %text-content;
    }
    &__caption{
        @extend %text-content;
    }
    &__like-btn{
        @include like-btn;
    }
    @include medium{
        width: 48%;
    }
} // .restocard