$sz-vertical-offset: 3rem;



.menu-card{ 
    &__img-container{
        position: relative;
        height: $sz-default-image-height*1.5;
        z-index: -1;
        margin-bottom: -$sz-vertical-offset;
    }
    &__img{
        @include card-image;
    }   
    &__body{
        border-radius: $br-menu-body $br-menu-body 0 0;
        overflow: hidden;
        padding: $pad-section;
        background: $cc-secondary-background;
    }
    
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        font-size: $fz-menu-header;
    }
    &__like-btn{
        @include like-btn;
    }
    &__course-title{
        font-weight: normal;
        text-transform: uppercase;
        @include underline;
    }
    &__btn-container{
        display: flex;
        justify-content: center;
        padding: $pad-section;
    }
    @include desktop {
        &__header{
            justify-content: flex-start;
        }
        &__title{
            margin-right: $mg-default;
        }
        &__body{
            background-color: white;
        }
        &__course-container{
            display: flex;
            justify-content: space-between;
        }
        &__course{
            width: 32%;
        }
    }

}

