@mixin shadow($color: black, $alpha:0.2){
    box-shadow: 0.5rem 0.5rem 0.5rem rgba($color: $color, $alpha: $alpha);
}


@mixin gradient-background{
    background: $cc-primary;
    background: linear-gradient(356deg, $cc-primary 5%, $cc-secondary 85%); 
}

@mixin gradient-button($text-color:white,$width-multiplier:1){
    display: inline-block;
    $pv-button: calc($fz-default * 0.9); // vertical padding
    $ph-button: calc($fz-default * 1.5 * $width-multiplier); // horizontal padding
    padding: $pv-button $ph-button;
    color: $text-color;
    border-radius: 10rem;
    border: none;
    outline: none;
    @include gradient-background;
    @include shadow;
    transition: transform ease-out 200ms;
    &:hover{
        transform: scale(1.03);
    }
}

@mixin card-image($border-radius: 0){
    border-radius: $border-radius;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@mixin like-btn{
    font-weight: 400;
    &:hover{
        background: linear-gradient(0deg, $cc-secondary 15%, $cc-primary 95%);
        background-clip: text;
        color: transparent;
        font-weight: 501; // > 500 to fill the heart
    }    
}


@mixin new-tag($margin:1rem) {
    display: block;
    position: absolute;
    content: "Nouveau";
    padding: 0.7rem 1.3rem;
    right: $margin;
    top: $margin;
    font-size: 80%;
    font-weight: 600;
    color: darker-tertiary-color(40);
    background-color: $cc-tertiary; 
    @include shadow($alpha:0.5);   
}

@mixin underline($color:$cc-tertiary, $width:4rem,$thickness:3px){
    &::after{
        display: block;
        content: "";
        border-bottom: $thickness solid $color;
        width: $width;
    }
}
//spinner

@mixin spinner-arc($index, $colors){
    $level: ceil(calc($index/$max-arc-number))-1;
    $delay: calc($tm-spinner/10)*$level;
    $side: get-arc-side($index); // returns "top" "right" "bottom" or "left"
    border-#{$side}-color: nth($colors,$index);    

    @if $level > 0 {
        animation: kf-spinner-thin $tm-spinner $delay linear infinite both;
        left: $sz-spinner-space-between*$level;
        top: $sz-spinner-space-between*$level;
        $size : 100% - $level*10;
        width: $size;
        height: $size;    
        @if $level > 1 {
            border-width: calc($bd-spinner-max/2);
        }
    }@else{
        animation: kf-spinner-thick $tm-spinner $delay linear infinite both;
    }
}
