// Color codes
$cc-primary: #9356DC;
$cc-secondary: #FF79DA;
$cc-tertiary: #99E2D0;

$cc-primary-background: #eaeaea;
$cc-secondary-background: #f6f6f6; 

$cc-text-color : black;


// default padding and margin values
$pv-default: 0rem;
$ph-default: 1.5rem;
$pad-default: 1.5rem;

$mg-default: 2rem;

// Border radius
$br-item: 1.5rem; 

// Font sizes
$fz-default : 1.6rem;
