// Color codes
$cc-primary: #9356DC;
$cc-secondary: #FF79DA;
$cc-tertiary: #99E2D0;

$cc-primary-background: #eaeaea;
$cc-secondary-background: #f6f6f6; 

$cc-text-color : black;


// Font sizes
$fz-default : 1.6rem;
